[submodule "oh-my-zsh"]
	path = .shell/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "tpm"]
	path = .shell/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "nvim-config"]
	path = .config/nvim
	url = https://github.com/KamiGug/nvim-config
