[user]
	email = gug.kamil@gmail.com
	name = Kamil Gugala

[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
	path = ~/.shell/git/gitconfig-github

[includeIf "hasconfig:remote.*.url:https://github.com/*"]
	path = ~/.shell/git/gitconfig-github

[includeIf "hasconfig:remote.*.url:git@git.ananas-project.dns-dynamic.net:*/**"]
	path = ~/.shell/git/gitconfig-ananas

[includeIf "hasconfig:remote.*.url:https://git.ananas-project.dns-dynamic.net/*"]
	path = ~/.shell/git/gitconfig-ananas

[includeIf "hasconfig:remote.*.url:git@gitlab-p2.autobid.de:*/**"]
	path = ~/.shell/git/gitconfig-contina

[includeIf "hasconfig:remote.*.url:htts://gitlab-p2.autobid.de/*"]
	path = ~/.shell/git/gitconfig-contina

[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
